@inherits LayoutComponentBase
@inject TitleService TitleService
@inject NavigationManager NavigationManager

<PageTitle>@TitleService.GetTitle()</PageTitle>

    <HeadContent>
        <meta property="og:title" content="@TitleService.GetTitle()" id="metaOgTitle" />
        <meta name="description" content="AiGallery, @TitleService.GetTitle()" id="metaDescription" />
        <meta property="og:description" content="AiGallery, @TitleService.GetTitle()" id="metaOgDescription" />
        <meta property="og:url" content="@NavigationManager.Uri" id="metaOgUrl" />
        <meta property="og:image" content="" id="metaOgImage" />
    </HeadContent>


<TopMenu></TopMenu>

<div class="page">
        
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
